@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDp.woff2")
    format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDp.woff2")
    format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDp.woff2")
    format("woff2");
}

html {
}

html,
body {
  font-family: "Work Sans", sans-serif;
  color: #003478;
  height: 100%;
  padding: 0;
  margin: 0;
  overscroll-behavior: none;

  /*overscroll-behavior: none;*/
  /*overscroll-behavior: none;*/
  /*overflow: hidden;*/
  /* overflow: hidden; */
  /*height: 100vh;*/
}

.scrollable-content {
  height: 100%;
  /*overflow-y: auto;*/
}

.titleMain {
  z-index: 10;
  position: relative;
}

.logo {
  position: fixed;
  top: 20px;
  left: 0;
  margin-left: 2rem;
  width: 140px;
  z-index: 3;
  @media (min-width: 768px) {
    margin-left: 5rem;
  }
}

.backgroundFixed {
  background: linear-gradient(
    180deg,
    #f7f9fb 20.62%,
    rgba(174, 207, 225, 0.5) 100%
  );
  /*background: url('/textures/bg-01-cloud.jpg');*/
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  position: fixed;
  inset: 0;
}
.backgroundFixed2Scene {
  background: url("/backgrounds/bg-02.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: fixed;
  transform: scale(1);
  inset: 0;
  opacity: 0;
}
.backgroundFixed3Scene {
  background: url("/backgrounds/bg-village.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: fixed;
  transform: scale(1);
  inset: 0;
  opacity: 0;
}
.backgroundFixed4Scene {
  background: url("/backgrounds/bg-panels.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: fixed;
  transform: scale(1);
  inset: 0;
  opacity: 0;
}
.backgroundFixed5Scene {
  background: url("/backgrounds/bg-city.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: fixed;
  transform: scale(1);
  inset: 0;
  opacity: 0;
}

.backgroundFixed6Scene {
  background: url("/backgrounds/bg-molecules.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  position: fixed;
  transform: scale(1);
  inset: 0;
  opacity: 0;
}


canvas {
  position: fixed;
  inset: 0;
  z-index: 0;
}

#app {
  @apply relative;
  height: 12000px;
  z-index: 20;
}
.section-content {
  color: #003478;
  z-index: 2;
}
.section-content__wrapper {
  margin-left: 2rem;
  @media (min-width: 768px) {
    margin-left: 5rem;
  }
}
canvas {
  z-index: 1;
}

#secondSceneText {
  position: fixed;
  top: 45%;
  opacity: 0;
}
#firstSceneText {
  opacity: 0;
  position: fixed;
  bottom: 8%;
}

.controlsStep {
  position: fixed;
  bottom: 100px;
  width: 100%;
  z-index: 10;
}

.controlsStepList {
  display: flex;
  justify-content: center;
  width: 60%;
  justify-content: space-between;
  margin: 0 auto;
  background-color: #f7f9fb;
  padding: 8px;
  border-radius: 100px;
  
}
.controlsStepList li {
}
.controlsStepBtn {
}

.controlsStepBtn__label {
  display: none;
}
.controlsStepBtn {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 16px;
}
.controlsStepBtn__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 1px solid #003478;
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  &:before {
    content: "";
    display: inline-block;
    background-color: #003478;
    width: 8px;
    height: 8px;
    border-radius: 50px;
  }
}

.debugPanel {


	position: fixed;
	right: 20px;
	top: 20px;
}