@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDp.woff2")
    format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDp.woff2")
    format("woff2");
}

@font-face {
  font-family: "Work Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("https://fonts.gstatic.com/s/worksans/v13/QGYsz_wNahGAdqQ43Rh_fKDp.woff2")
    format("woff2");
}

@layer base {
  html,
  body {
    @apply font-sans text-[#003478] h-full p-0 m-0;
    font-family: "Work Sans", sans-serif;
    overscroll-behavior: none;
  }
}

@layer components {
  .app-header {
    @apply fixed z-[3] w-[100%];
    background-color: #f7f9fbe5;
  }
  .scrollable-content {
    @apply h-full;
  }

  /* BEM componenti */

  /* Logo */
  .brand-logo {
    @apply w-[140px] ml-2 mt-3 mb-3;
    margin-left: 2rem;
  }

  @media (min-width: 768px) {
    .brand-logo {
      margin-left: 5rem;
    }
  }

  /* Scene backgrounds */
  .scene {
    @apply h-screen fixed inset-0 bg-cover bg-no-repeat bg-center;
  }

  .scene--first {
    @apply bg-gradient-to-b from-[#f7f9fb] from-[20.62%] to-[rgba(174,207,225,0.5)] to-100%;
    background-size: 100% 100%;
  }

  .scene--second {
    @apply scale-100 opacity-0;
    background-image: url("/backgrounds/bg-02.jpg");
  }

  .scene--third {
    @apply scale-100 opacity-0;
    background-image: url("/backgrounds/bg-village.jpg");
  }

  .scene--fourth {
    @apply scale-100 opacity-0;
    background-image: url("/backgrounds/bg-panels.png");
  }

  .scene--fifth {
    @apply scale-100 opacity-0;
    background-image: url("/backgrounds/bg-city.jpg");
  }

  .scene--sixth {
    @apply scale-100 opacity-0;
    background-image: url("/backgrounds/bg-molecules.jpg");
  }

  /* Debug Panel */
  .debug-container {
    @apply fixed right-5 top-5;
  }

  /* Canvas */
  canvas {
    @apply fixed inset-0 z-[1];
  }

  /* App */
  #app {
    @apply relative h-[9000px] z-20;
  }

  /* Block (ex Section) */
  .block {
    @apply mb-[50vh] text-[#003478] z-[2];
  }

  .block--hero {
    @apply fixed w-full;
  }

  .block__content {
    @apply ml-8;
  }

  @media (min-width: 768px) {
    .block__content {
      margin-left: 5rem;
    }
  }

  .block__inner {
    @apply flex items-end h-screen;
  }

  .block__inner--padded {
    @apply pb-5;
  }

  /* Titles */
  .block__title {
    @apply text-[40px] sm:text-[40px] md:text-[76px] leading-none;
  }

  .block__title--hero {
    @apply uppercase font-extrabold;
  }

  .block__title--main {
    @apply text-[40px] sm:text-[40px] md:text-[52px] leading-none z-10 relative;
  }

  .block__description {
    @apply text-[24px];
  }

  /* Scene Text Positions */
  #firstSceneText {
    @apply opacity-0 fixed bottom-[8%];
  }

  #secondSceneText {
    @apply fixed top-[45%] opacity-0;
  }

  /* Navigation (ex Controls) */
  .navigation {
    @apply fixed bottom-[100px] w-full z-10;
  }

  /*   

  .navigation__menu {
    @apply flex justify-center w-[60%] justify-between mx-auto bg-[#f7f9fb] p-2 rounded-full;

  }

  .navigation__item {
    flex: 1 1 auto;
    transition: flex 0.3s ease, width 0.3s ease;
  }

  .navigation__item:has(.navigation__btn:hover), .navigation__item:has(.navigation__btn.active) {
    flex: 2 1 auto;
    .navigation__btn {
        width: 100%;
    }
  }

  .navigation__btn {
    @apply bg-transparent border-none flex items-center gap-4;
  }

  .navigation__icon {
    @apply w-9 h-9 rounded-full border border-[#003478] flex items-center justify-center;
    z-index:3;
  }

  .navigation__icon:before {
    content: "";
    @apply inline-block bg-[#003478] w-2 h-2 rounded-full;
  }

  .navigation__label {
    @apply hidden;
  }

  .navigation__btn.active, .navigation__btn:hover {
    .navigation__label {
      display:block;
    }
  } */

  .navigation__menu {
    @apply flex justify-center w-[60%] justify-between mx-auto bg-[#f7f9fb] p-2 rounded-full;
    position: relative;
  }

  .navigation__menu:before {
    content:'';
    border-bottom: 1px solid #003478;
    position: absolute;
    top:50%;
    left:10px;
    right:10px;
  }

  .navigation__item {
    flex: 1 0 0;
    transition: flex 0.3s ease;
    display: flex;
    justify-content: left;
    position: relative; /* necessario per label assoluta */
  }
  .navigation__item:last-child {
    flex: 0 0 36px;
    .navigation__btn {
      width:100%;
    background-color: rgb(247 249 251 / var(--tw-bg-opacity, 1));
    }
  }
 

  .navigation__btn {
    @apply flex items-center gap-2 bg-transparent border-none;
    min-width: 0;
    overflow: hidden;
    position: relative;
    transition:  width .4s ease;
    width:44px;

    
    
  }

  .navigation__icon {
    @apply w-9 h-9 rounded-full border border-[#003478] flex items-center justify-center;
    z-index: 3;
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    background-color: rgb(247 249 251 / var(--tw-bg-opacity, 1));
  }
  .navigation__icon:before {
    content: "";
    @apply inline-block bg-[#003478] w-2 h-2 rounded-full;
  }
  .navigation__icon:after {
    content: "";
    position: absolute;
    display: block;
    width:36px;
    height:36px;
    @apply rounded-full border border-[#F7F9FB];
    border-width: 8px;
    box-sizing: content-box;
  }

  .navigation__icon-blue {
    @apply w-9 h-9 rounded-full border border-[#008AC2] flex items-center justify-center;
    z-index: 3;
    width: 36px;
    height: 36px;
    flex: 0 0 auto;
    margin-right: 18px;
  }

  .navigation__icon-blue:before {
    content: "";
    @apply inline-block bg-[#008AC2] w-3 h-3 rounded-full;
  }

  /* LABEL galleggiante */
  .navigation__wrapper-label {
    position: relative;
    overflow: hidden;
    display: flex;
    width: 100%;
    height: 44px;
  }
  .navigation__label {
    display: flex;
    white-space: nowrap;
    transition: opacity 0.3s ease,  transform .4s ease;
    //pointer-events: none;
    text-align: left;
    position: absolute;
    height: 44px;
    background-color: #fff;
    align-items: center;
    border-radius: 100px;
    padding: 0 20px 0 4px;
    left: 0;
    //left: -100%;
    width:auto;
    overflow: hidden;
    transform: translateX(-100%);
  }

  /* Mostra la label */

  .navigation__item:has(.navigation__btn:hover),
  .navigation__item:has(.navigation__btn.active) {
    /*flex: 2 1 1;*/
    flex-grow: 2;
    .navigation__btn {
      width: 100%;
      .navigation__wrapper-label {
        width: 100%;
        .navigation__label {
          //opacity: 1;
          
          transform: translateX(0);
        }
      }
    }
  }
}

/*--------------------*/
